In [1]:
##Jiwan, Dorky, Kyle

In [2]:
import pandas as pd

df_employees = pd.read_csv ('../User_access_logs/employees.csv')   #read the csv file (put 'r' before the path string to address any special characters in the path, such as '\'). Don't forget to put the file name at the end of the path + ".csv"
df_system_access = pd.read_csv ('../User_access_logs/system_access.csv')

print (df_employees)
print (df_system_access)

    employee_number  first_name   last_name  \
0         EMP003037     Juliana    Burbudge
1         EMP003045      Lizzie        Blue
2         EMP003051     Marjory    Selcraig
3         EMP003068      Aguste    O'Connor
4         EMP003097     Clemens      Kopman
..              ...         ...         ...
970       EMP024864    Kristina       Yakov
971       EMP024885   Margarita  Habbergham
972       EMP024890    Prescott   Southward
973       EMP024896       Raine     Learned
974       EMP024931  Frederique        Fant

                                    email              title
0        juliana.burbudge@consultants.com  Director of Sales
1             lizzie.blue@consultants.com    Sales Assistant
2        marjory.selcraig@consultants.com    Sales Assistant
3         aguste.o'connor@consultants.com    Sales Assistant
4          clemens.kopman@consultants.com    Account Manager
..                                    ...                ...
970        kristina.yakov@consultants.com    Sales Assistant
971  margarita.habbergham@consultants.com    Account Manager
972    prescott.southward@consultants.com    Sales Assistant
973         raine.learned@consultants.com    Account Manager
974       frederique.fant@consultants.com    Account Manager

[975 rows x 5 columns]
        id    access_level
0     3045  Contract Entry
1     3051  Contract Entry
2     3068  Contract Entry
3     3097   Account Admin
4     3133  Contract Entry
..     ...             ...
833  24862  Contract Entry
834  24864  Contract Entry
835  24885   Account Admin
836  24890  Contract Entry
837  24896   Account Admin

[838 rows x 2 columns]