In [1]:
##Jiwan, Dorky, Kyle

In [2]:
import pandas as pd

df_employees = pd.read_csv ('../User_access_logs/employees.csv')   #read the csv file (put 'r' before the path string to address any special characters in the path, such as '\'). Don't forget to put the file name at the end of the path + ".csv"
df_system_access = pd.read_csv ('../User_access_logs/system_access.csv')
df_system_access.rename(columns={'id':'employee_number'}, inplace=True)
df_system_access.set_index('employee_number', inplace=True)
df_employees = df_employees.set_index('employee_number')
df = df_employees.join(df_system_access, how='left')
df.head(100)

,first_name,last_name,email,title,access_level
employee_number,,,,,
EMP003037,Juliana,Burbudge,juliana.burbudge@consultants.com,Director of Sales,NaN
EMP003045,Lizzie,Blue,lizzie.blue@consultants.com,Sales Assistant,NaN
EMP003051,Marjory,Selcraig,marjory.selcraig@consultants.com,Sales Assistant,NaN
EMP003068,Aguste,O'Connor,aguste.o'connor@consultants.com,Sales Assistant,NaN
EMP003097,Clemens,Kopman,clemens.kopman@consultants.com,Account Manager,NaN
...,...,...,...,...,...
EMP005111,Mavra,Vamplus,mavra.vamplus@consultants.com,Sales Assistant,NaN
EMP005132,Omar,Colegate,omar.colegate@consultants.com,Account Manager,NaN
EMP005134,Jami,Cornall,jami.cornall@consultants.com,Director of Sales,NaN
EMP005148,Lucila,Bolderson,lucila.bolderson@consultants.com,Account Manager,NaN
EMP005189,Jecho,Francklin,jecho.francklin@consultants.com,Account Manager,NaN